html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

img,
.image {
  height: 200px;
  margin: 3px;
}

.logo {
  height: auto;
  width: 70%;
  max-width: 500px;
  display: block;
  margin: 20px auto;
}

.images {
  text-align: center;
  margin: 10px;
}

.img-container {
  position: relative;
  display: inline-block;
}

.fav {
  position: absolute;
  color:red;
  font-size: 50px;
  top: -15px;
  right: 5px;
}

.menu-item {
  text-transform: capitalize;
}

.MuiFormLabel-root{
  text-align: left;
}

.game-container {
  margin: 20px;
  text-align: center;
}

.game-container .button {
  width: 100%;
}

.game-container .form {
  max-width: 200px;
  vertical-align: middle;
  width: 80%;
  display: inline-flex;
  margin: 10px;
}

*[data-selected='true'] {
  border-style: solid;
  border-width: 1px;
  border-color: aqua;
  box-shadow: 0px 0px 5px 0px rgba(5, 193, 255, 1);
}

*[data-answer='true'][data-selected='true'] {
  border-style: solid;
  border-width: 2px;
  border-color: green;
  box-shadow: 0px 0px 10px 0px green;
}

*[data-answer='true'][data-selected='false'][data-done='true'] {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  box-shadow: 0px 0px 10px 0px red;
}

*[data-answer='false'][data-selected='true'][data-done='true'] {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  box-shadow: 0px 0px 5px 0px gray;
}

.navbar {
  background-color: #990000;
  display: flex;
  font-family: cursive;
  box-shadow: 0px 2px 5px 0px #00000073;
}

.navbar .link a{
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.navbar .link {
  padding: 9px 12px;
}

.navbar .link:hover {
  background-color: white;
}

.navbar .link:hover a{
  color:#990000;
}

.title {
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slider {
  width: 97%;
  margin: auto;
}
